
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming this is in your global.css or a similar file */
.backgroundImage {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
}

/* Existing global styles */
.container {
  background-color: #141416;
}

.main {
  display: flex;
  justify-content: flex-start; /* Align content to the top */
  /* other styles */
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

/* Adjustments for main title and accent */
.main .title .accentColor {
  color: rgb(27, 80, 55);
  font-family: 'Noto+Sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 10pt;
}

/* Adjustments for main title and accent */
.balance {
  color: #fff;
  font-family: 'Noto+Sans', sans-serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 3pt;
  padding-bottom: 50pt;
  text-align: center;
}

.main .title {
  font-family: 'Noto+Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 5pt;
  font-size: 50px;
}

.logo-container {
    
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
    max-width: 400px; /* Maximum width of the image */
    max-height: 150px; /* Maximum height of the image */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    padding: 20px;
    margin: auto;
  }
  

.custom-stake-button-wrapper {
  padding-bottom: 300px;
  padding-top: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Toastify__toast-container {
  z-index: 9999;
}

.button-container {
    position: absolute;
    bottom: 0; /* This aligns the container to the bottom of the .main */
    left: 0; /* Aligns to the left */
    width: 100%; /* Spans the full width of .main */
    display: flex;
    justify-content: center; /* This centers the buttons in the container */
    padding: 20px 0; /* Gives some space from the bottom edge */
  }

.custom-button {
  font-family: 'Noto+Sans', sans-serif;
  letter-spacing: 2pt;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin-left: 40px; /* Uniform margin for all sides will center buttons and create space between them */
  margin-right: 40px;
}

.custom-button:hover {
  background-color: rgba(27, 80, 55, 0.609);
}

/* Hide the message by default */
.stake-message {
    display: none;
    color: #fff; /* Adjust the color to fit your design */
    padding: 20px;
    text-align: center;
    font-size: 16px; /* Adjust the size as needed */

  }

.custom-stake-button button {
    /* background-image: linear-gradient(to right, rgb(27, 80, 55),rgb(27, 80, 55)); */
    background-color: rgb(255, 255, 255);
    font-family: 'Noto+Sans', sans-serif;
    width: auto;
    height: 50pt;
    letter-spacing: 2pt;
    font-size: 25px;

    
    /* Add other styles as needed */
  }
/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    /* Adjustments for main title and accent */
.main .title .accentColor {
    color: rgb(27, 80, 55);
    font-family: 'Noto+Sans', sans-serif;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 5pt;
  }
  
  .main .title {
    font-family: 'Noto+Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 5pt;
    font-size: 35px;
  }
    .logo-container img {
        width: auto;
        max-width: 200px; /* Adjust if necessary */
        }
    .logo-container img a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        }
    .custom-stake-button {
        display: none;
        }
    .balance {
      display: none;
      }
    
        /* Show the message on mobile */
        .stake-message {
        display: block;
        font-family: 'Noto+Sans', sans-serif;
        letter-spacing: 1pt;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        }
  .title {
    font-size: 30px; /* Smaller font size for mobile devices */
  }

  .custom-stake-button-wrapper {
    padding-bottom: 50px; /* Reduced padding for mobile devices */
  }

  .custom-button {
    padding: 20px; /* Smaller padding for mobile devices */
    font-size: 16px; /* Smaller font size for mobile devices */
    margin: 10px; /* Increase margin if needed for mobile devices */
  }
}
