@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');

/* Existing global styles */
.container {
  background-color: #141416;
}

.main {
  display: flex;
  justify-content: flex-start; /* Align content to the top */
  /* other styles */
}

/* Adjustments for main title and accent */
.main .title .accentColor {
  color: #CEFA01;
  font-family: 'Orbitron', sans-serif;
  font-weight: 200;
  letter-spacing: 10pt;
}

.main .title {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  letter-spacing: 5pt;
}

.logo-container {
    
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
    max-width: 150px; /* Maximum width of the image */
    max-height: 150px; /* Maximum height of the image */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
  }
  

.custom-stake-button-wrapper {
  padding-bottom: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Toastify__toast-container {
  z-index: 9999;
}

.button-container {
    position: absolute;
    bottom: 0; /* This aligns the container to the bottom of the .main */
    left: 0; /* Aligns to the left */
    width: 100%; /* Spans the full width of .main */
    display: flex;
    justify-content: center; /* This centers the buttons in the container */
    padding: 20px 0; /* Gives some space from the bottom edge */
  }

.custom-button {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 2pt;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: #141416;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40px; /* Uniform margin for all sides will center buttons and create space between them */
  margin-right: 40px;
}

.custom-button:hover {
  background-color: #444;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  .title {
    font-size: 40px; /* Smaller font size for mobile devices */
  }

  .custom-stake-button-wrapper {
    padding-bottom: 50px; /* Reduced padding for mobile devices */
  }

  .custom-button {
    padding: 10px 20px; /* Smaller padding for mobile devices */
    font-size: 14px; /* Smaller font size for mobile devices */
    margin: 10px; /* Increase margin if needed for mobile devices */
  }
}
