@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* Adjust padding for smaller screens */


.main {
    display: flex;
    justify-content: flex-start; /* Align content to the top */
    height: 100%;
    /* other styles */
  }

.container {
    background-color: #141416;
  }
  .main .title .accentColor {
    color: #CEFA01;
  }
  .main .title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 200; /* Adjust the font weight as needed, the lower the number, the lighter the font */
    letter-spacing: 10pt; /* Adjust the space between chars as needed */
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-stake-button-wrapper {
    padding-bottom: 20px; /* Adjust the padding as needed */
    border-radius: 20px; /* Adjust the border-radius as needed */
  }
  
  
  